// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @variants responsive {
        .h-lg {
            height: 32rem!important;
        }
        .h-45 {
            height: 45rem!important;
        }
        .w-450 {
            width: 450px!important;
        }
    }
}
