:root {
    --color-primary: #ed3939;
    --color-secondary: #e9ab01;
    --color-primary-darker: #d13030; //darker 20%
    --color-primary-lighter: #f55959; //lighten 20%
    --color-secondary-darker: #c38f03; //darker 20%
    --color-secondary-lighter: #ffc107; //lighten 20%

    --color-info: #3490dc;
    --color-success: #1caf5e;
    --color-warning: #FFAA00;
    --color-danger: #E13D34;
    --color-error: #E13D34;
    --color-default: #F5F5F5;
    --color-cancel: #111111;
}

.pagination {
    display: flex;
    justify-content: center;
}

.pagination .page-item .page-link {
    background-color: #ffffff;
    min-width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #1a1a1a;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    border-radius: 3px;
    padding: 0 10px;
    margin-right: 5px;
    border: 1px solid #ebebeb;
}

.pagination .page-item .page-link:hover, .pagination .page-item .page-link:focus {
    background-color: #ed3939;
    color: #ffffff;
    border-color: #ed3939;
}

.pagination .page-item.active .page-link {
    background-color: #ed3939;
    color: #ffffff;
    border-color: #ed3939;
}
